<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static files</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="card">
        <h3>This is only for serving static file</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> 
          <p> Esse illum error, harum libero eius eos distinctio earum officiis deserunt, dolor nulla pariatur molestias recusandae illo blanditiis. Cupiditate alias corporis voluptatibus.</p>
    </div>
</body>
</html>